@import "~bootstrap/scss/bootstrap.scss";

@import "./variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2{
    font-size: 1rem;
}
h3, a{
    font-size: 0.8rem;
}
h4, p{
    font-size: 0.7rem;
}


.debug{
    border: 1px solid red;
}
.debug2{
    border: 1px solid blue;
}