// background colors 
$bg-white: #ffffff;
$bg-trasparent: #ffffff00;
$bg-white1: #000000e0;
$bg-white-dark:#f7f7f7;
$bg-grey-white: #D6D6D6;
$bg-grey-white2: #17171740;
$bg-grey:#CCCCCC;
$bg-blue: #0088CC;
$bg-blue-dark:#0074AD;
$bg-grey-dark:#404040;
$bg-grey-dark2:#212529CC;
$bg-black:#000000;
$bg-black2:#212529;
$bg-black3:#1C2023;

// text colors 
$txt-blue:#0088CC;
$txt-white:#FFFFFF;
$txt-grey-white:#B7B7b7;
$txt-grey:#888888; 
$txt-grey2:#777777; //hover <a>
$txt-grey-dark:#555555;
$txt-grey-dark2:#444444;
$txt-black:#000000;
$txt-black2:#212529;
$txt-black3:#333333;

// border colors 
$br-blue:#0088CC;
$br-blue-dark:#005580;
$br-white:#f7f7f7;
$br-white2:#EEEEEE;
$br-white3:#EDEDED;
$br-white4:#E2E2E2;
$br-grey:#D9D9D9;
$br-grey-dark:#BFBFBF;
$br-dark:#0A0C0D;
$br-dark2:#212529;
$br-dark3:#0000000F;






